* {
    box-sizing: border-box;
}

body {
    margin: 0;
    font-family: 'Roboto', sans-serif;
    background-color: lightgray;
} 

.banner {
    margin-top: 20px;
    display: flex;
    align-items: center;
    justify-content: space-around;
    flex: 10px;
}

.banner img {
    height: 100px;
}

.branchphase{
    display: flex;
}

.progression {
    margin: 20px;
    padding: 20px;
    background-color: #ccc;
    border-radius: 10px;
}

.proglobinho {
    margin: 20px;
    padding: 20px;
    background-color: #bbb;
    border-radius: 10px;
}

.progescoteiro {
    margin: 20px;
    padding: 20px;
    background-color: #bbb;
    border-radius: 10px;
}

.progsenior {
    margin: 20px;
    padding: 20px;
    background-color: #bbb;
    border-radius: 10px;
}

.progtitle {
    font-weight: bold;
}

table,
th,
td {
    border: 1px solid black;
    border-collapse: collapse;
    cursor: pointer;
    position: relative;
    margin-left: 20px;
    padding: 12px 8px 12px 10px;
    font-size: 16px;
    transition: 0.2s;
    text-align: start;
}

table{
    background-color: white;
    width: 90%;
}

tr:nth-child(odd){
    background-color: #eee;
}

tr:hover {
    background: rgb(200, 199, 199);
}