* {
    box-sizing: border-box;
}

body {
    margin: 0;
    font-family: 'Roboto', sans-serif;
    background-color: lightgray;
} 

.banner {
    margin-top: 20px;
    display: flex;
    align-items: center;
    justify-content: space-around;
    flex: 10px;
}

.banner img {
    height: 100px;
}

.branchphase{
    display: flex;
}

.progression {
    margin: 20px;
    padding: 20px;
    background-color: #ccc;
    border-radius: 10px;
}

.proglobinho {
    margin: 20px;
    padding: 20px;
    background-color: #bbb;
    border-radius: 10px;
}

.progescoteiro {
    margin: 20px;
    padding: 20px;
    background-color: #bbb;
    border-radius: 10px;
}

.progsenior {
    margin: 20px;
    padding: 20px;
    background-color: #bbb;
    border-radius: 10px;
}

.progtitle {
    font-weight: bold;
}