* {
    box-sizing: border-box;
}

body {
    margin: 0;
    font-family: 'Roboto', sans-serif;
    background-color: lightgray;
} 

.cabecalho {
    background: #333;
    border-bottom: solid 5px #4faddb;
    height: 80px;
    box-sizing: content-box;
}

.logo {
    display: inline-block;
    height: 80px;
    padding: 15px;
}

.logo img {
    height: 100%;
}

.menu {
    display: inline-block;
    vertical-align: top;
    height: 80px;
    padding: 25px;

}

.menu ul {
    margin: 0;
    padding: 0;
}

.menu li {
    display: inline-block;
}

.cabecalho a {
    text-decoration: none;
    color: #eee;
    font-size: 1.3em;

}

.menu a {
    padding: 15px;
}

.menu a:hover,
.menu a.selected {
    background-color: #4faddb;
    color: #000;
}

.branchphase{
    display: flex;
}

.progression {
    margin: 20px;
    padding: 20px;
    background-color: #bbb;
    border-radius: 10px;
}

.proglobinho {
    margin: 20px;
    padding: 20px;
    background-color: #ffd23f;
    border-radius: 10px;
}

.progescoteiro {
    margin: 20px;
    padding: 20px;
    background-color: #548c2f;
    border-radius: 10px;
}

.progsenior {
    margin: 20px;
    padding: 20px;
    background-color: #eb4511;
    border-radius: 10px;
}

.progtitle {
    font-weight: bold;
}